.KRAFT	{
	background-color : #eeef4766 !important;
	color:#404040	!important;
text-align: center;    
}
.LINNER	{
	background-color : #F7DC6Fd0 !important;
	color:#AF601A	!important;
text-align: center;    
}
.MISIO	{
	background-color: #F0B27A99 !important;
	color:#944600	!important;
text-align: center;
}
.BLANCO	{
	background-color : #FBFCFC !important;
	color:#31B0D5 !important;
text-align: center;
}
.DT	{
	font-style:italic;
	color:#3136d0 !important;
	font-size:  1em; 
text-align: center;
}


.t-Report-cell a {
    color: maroon !important;
    font-weight: 600;
    font-family: verdana;
}
